body {
    margin: 0;
    color: white;
    font-family: 'JetBrains Mono';

    overflow: visible;
    background-color: black;
}

html {
    scroll-behavior: smooth
}
 
main {
    height: auto;
}


#hypr, #infinix, #Infinix-Minecraft, #Infinix-Launcher, #Hyprland-Dotfiles {
    pointer-events: none;
    opacity: 0.5;
}

#Website-About-Me {
    display: none;
}


.fstlayer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 15px 0;

    background-color: rgba(0, 0, 0, 0.15);
}

.links {
    display: flex;
    gap: 30px;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;

    cursor: pointer;
    position: relative;

    text-shadow: 0 0 10px white;
}

.link::after {
    display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: white;
	content: "";
	transition: all 0.3s ease-out;
    
    box-shadow: 0 0 10px white;
}

.link:focus::after {
	width: 100%;
}

.header_name {
    font-weight: bold;
    text-shadow: 0 0 10px white;
}



.greetings {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 110px;
}

.cat {
    height: 120px;
    width: auto;

    margin-right: 30px;
    pointer-events: none;

    animation: cat-scale 6s infinite;
    animation-delay: 2s;
}

@keyframes cat-scale {
    from {
        transform: scaleY(1);
        transform: scaleX(1);
    }

    50% {
        transform: scaleY(1.06);
        transform: scaleX(1.02);
    }

    to {
        transform: scaleY(1);
        transform: scaleX(1);
    }
}

.hello-world {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.sub-hw {
    font-size: 20px;
}

.links-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link-2 {
    height: 35px;
    width: 35px;

    margin-top: 10px;
    
    background-size: cover;

    transition: all 0.3s ease   ;
}

#github {
    background-image: url(../resources/links/icons8-github.svg);
}

#telegram {
    background-image: url(../resources/links/icons8-telegram.svg);
}

#discord {
    background-image: url(../resources/links/icons8-discord.svg);
}

#steam {
    background-image: url(../resources/links/icons8-steam.svg);
}



.burger-button {
    display: none;
    position: fixed;

    background-color: transparent;
    border: none;
    color: white;
    text-shadow: 0 0 10px white;
    font-size: 30px;
}

.burger-button:active {
    transform: scale(0.90);
}

@media(max-width: 1000px)  {
    .burger-button {
        display: inline;
        z-index: 1000;
    }

    .links {
        position: fixed;
        top: 0;
        left: -100%;
        width: auto;
        height: 100%;
        background-color: #00000078;
        color: #fff;

        flex-direction: column;

        padding-top: 70px;
        padding-left: 20px;
        padding-right: 10px;

        z-index: 10;

    }

    .links.open { left: 0; }
    .links.close { left: -50%; }

    .header_name {
        display: none;
    }

    .header {
        justify-content: start;
        margin: 0 20px;
    }
}


.projects-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.projects {
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    padding: 30px 150px;
    gap: 30px;
}

.project {
    height: 400px;
    width: 300px;
    background-color: black;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    transition: all 0.3s;
    box-sizing: border-box;

}



.project-img {
    height: 150px;
    width: 300px;

    border-radius: 15px;
    
}

.project-description, .project-title {
    padding: 0px 15px;
}

.project-title {
    font-size: 25px;
    font-weight: bold;
}

.project-sub-title {
    font-size: 12px;
    margin: 0;
    opacity: 0.6;
}

.project-description {
    text-align: center;
}

.project-details {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    justify-self: end;
    margin: 10px;

}








@media (hover: hover) and (pointer: fine) {
    .project-details:hover {
        opacity: 0.6;
    }

    .project:hover {
        transform: translateY(-5px);
    }

    .link-2:hover {
        transform: translateY(-5px);
    }

    .link:hover::after {
        width: 100%;
    }

}